<!DOCTYPE html>
<html lang="fr">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Analyse Questionnaire</title>

       <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

<div class="container">

    <div class="header">

        <h1> Analyse du questionnaire</h1>

        <p>
            Importez votre fichier Excel 
        </p>

    </div>


    <!-- ========================= -->
    <!-- IMPORT -->
    <!-- ========================= -->

    <div class="card">

        <h2>📁 Importer un fichier</h2>

        <form method="POST"
              enctype="multipart/form-data">

            <div class="file-area">

                <input
                    type="file"
                    name="file"
                    accept=".xlsx,.csv"
                    required
                >

            </div>

            <button type="submit"
                    class="btn">

                Importer le fichier

            </button>

        </form>

    </div>


    <!-- ========================= -->
    <!-- ERREUR -->
    <!-- ========================= -->

    {% if error %}

        <div class="error">

            {{ error }}

        </div>

    {% endif %}


    <!-- ========================= -->
    <!-- ANALYSE -->
    <!-- ========================= -->

    {% if columns %}

    <div class="card">

        <h2> Paramètres du graphique</h2>

        <form method="POST">

            <input
                type="hidden"
                name="filename"
                value="{{ filename }}"
            >


            <div class="form-grid">

                <!-- ========================= -->
                <!-- MULTIPLE X -->
                <!-- ========================= -->

                <div class="form-group">

                    <label>
                        Axes X
                    </label>

                    <select
                        name="x_column"
                        multiple
                        required
                        size="3">

                        {% for column in columns %}

                        <option value="{{ column }}">

                            {{ column }}

                        </option>

                        {% endfor %}

                    </select>

                    <small>
                         Maintenez <b>Ctrl</b> pour sélectionner
                        plusieurs variables X.
                    </small>

                </div>


                <!-- ========================= -->
                <!-- MULTIPLE Y -->
                <!-- ========================= -->

                <div class="form-group">

                    <label>
                        Axes Y
                    </label>

                    <select
                        name="y_column"
                        multiple
                        required
                        size="3">

                        {% for column in columns %}

                        <option value="{{ column }}">

                            {{ column }}

                        </option>

                        {% endfor %}

                    </select>

                    <small>
                         Maintenez <b>Ctrl</b> pour sélectionner
                        plusieurs variables Y.
                    </small>

                </div>


                <!-- ========================= -->
                <!-- TYPE -->
                <!-- ========================= -->

                <div class="form-group">

                    <label>
                        Type de graphique
                    </label>

                    <select name="chart_type">

                        <option value="bar">
                            📊 Barres
                        </option>

                        <option value="pie">
                            🥧 Circulaire
                        </option>

                        <option value="line">
                            📈 Courbe
                        </option>

                       

                    </select>

                </div>

            </div>


            <button
                type="submit"
                name="generate"
                class="btn generate">

                 Générer les graphiques

            </button>

        </form>

    </div>

    {% endif %}

<!-- ========================= -->
<!-- REPARTITION SEXE -->
<!-- ========================= -->
{% if sexe_stats %}

<div class="card percentage-box">

    <h2>Répartition </h2>

    <div class="sexe-carousel">

        <button class="carousel-btn prev" onclick="moveSexe(-1)">
            ❮
        </button>

        <div class="sexe-wrapper">

            {% for row in sexe_stats %}

            <div class="sexe-card">

                <!-- Partie bleue -->
                <div class="sexe-card-top">

                    <div class="sexe-avatar">

                        {% if row["Sexe"]|lower|trim in ["garçon", "garcon", "homme"] %}
                            👨
                        {% elif row["Sexe"]|lower|trim in ["fille", "femme"] %}
                            👩
                        {% else %}
                            👤
                        {% endif %}

                    </div>

                </div>

                <!-- Partie blanche -->
                <div class="sexe-card-body">

                    <h3>
                        {% if row["Sexe"]|lower|trim in ["garçon", "garcon", "homme"] %}
                            Garçon
                        {% elif row["Sexe"]|lower|trim in ["fille", "femme"] %}
                            Fille
                        {% else %}
                            {{ row["Sexe"] }}
                        {% endif %}
                    </h3>

                    <p class="sexe-effectif">
                        {{ row["Effectif"] }}
                    </p>

                   

                    <div class="percentage">
                        {{ row["Pourcentage"] }}%
                    </div>

                    <div class="progress">
                        <div
                            class="progress-bar"
                            style="--progress: {{ row['Pourcentage'] }}%;">
                        </div>
                    </div>

                </div>

            </div>

            {% endfor %}

        </div>

        <button class="carousel-btn next" onclick="moveSexe(1)">
            ❯
        </button>

    </div>

</div>

{% endif %}


<!-- ========================= -->
<!-- STATISTIQUES -->
<!-- ========================= -->

{% if stats %}

<div class="card statistics">

    <h2> Statistiques</h2>

    <div class="table-container">

        <table>

            <thead>

                <tr>
                    <th>Axes X</th>
                    <th>Axes Y</th>
                    <th>Total réponses</th>
                    <th>Réponses valides</th>
                    <th>Nombres des réponses Manquantes X</th>
                    <th>Nombres des réponsesManquantes Y</th>
                </tr>

            </thead>

            <tbody>

                {% for stat in stats %}

                <tr>

                    <td>
                        {{ stat.x_name }}
                    </td>

                    <td>
                        {{ stat.y_name }}
                    </td>

                    <td>
                        {{ stat.total }}
                    </td>

                    <td>
                        {{ stat.valid }}
                    </td>

                    <td>
                        {{ stat.missing_x }}
                    </td>

                    <td>
                        {{ stat.missing_y }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endif %}
<!-- ========================= -->
<!-- DETAIL DES REPONSES X -->
<!-- ========================= -->

{% if x_response_stats is defined and x_response_stats %}

<div class="card statistics">

    <h2>
        Statistiques des réponses -
       
    </h2>

    <div class="table-container">

        <table>

            <thead>
                <tr>
                    <th>Réponse</th>
                    <th>Effectif</th>
                    <th>Pourcentage</th>
                </tr>
            </thead>

            <tbody>

                {% for row in x_response_stats %}

                <tr>

                    <td>
                        {{ row["Reponse"] }}
                    </td>

                    <td>
                        {{ row["Effectif"] }}
                    </td>

                    <td>
                        {{ row["Pourcentage"] }} %
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endif %}

    <!-- ========================= -->
    <!-- GRAPHIQUES -->
    <!-- ========================= -->

    {% if charts %}

    <div class="card chart-card">

        <h2>Résultats</h2>


        {% for chart in charts %}

        <div class="chart-result">

            <h3>

                {{ chart.y_name }}
                selon
                {{ chart.x_name }}

            </h3>

            <div class="chart">

                {{ chart.html | safe }}

            </div>

        </div>


        <hr>

        {% endfor %}

    </div>

    {% endif %}


    <!-- ========================= -->
    <!-- EXPORT EXCEL -->
    <!-- ========================= -->

    {% if charts %}

    <div class="card">

        <h2> Exporter l'analyse</h2>

        <form method="POST"
              action="/export-excel">

            <input
                type="hidden"
                name="filename"
                value="{{ filename }}"
            >

            {% for stat in stats %}

                <input
                    type="hidden"
                    name="x_column"
                    value="{{ stat.x_name }}"
                >

                <input
                    type="hidden"
                    name="y_column"
                    value="{{ stat.y_name }}"
                >

            {% endfor %}


            <button
                type="submit"
                class="btn">

                📥 Exporter vers Excel

            </button>

        </form>

    </div>

    {% endif %}


</div>
<script>

let sexePosition = 0;

function moveSexe(direction) {

    const wrapper = document.querySelector(".sexe-wrapper");
    const cards = document.querySelectorAll(".sexe-card");

    if (cards.length === 0) {
        return;
    }

    sexePosition += direction;

    if (sexePosition < 0) {
        sexePosition = cards.length - 1;
    }

    if (sexePosition >= cards.length) {
        sexePosition = 0;
    }

    const cardWidth = cards[0].offsetWidth + 25;

    wrapper.scrollTo({
        left: sexePosition * cardWidth,
        behavior: "smooth"
    });
}

</script>
</body>

</html>